#calculator {
  display: flex;                       /* establish flex container */
  flex-wrap: wrap;                     /* enable flex items to wrap */
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

#display {
  color: papayawhip;
  background-color: black;
  width: 300px;
  height: 40px;
  font-family: monospace;
  font-size: 1.5em;
  border: 3px solid pink

}

.key {
  flex: 0 0 32%;
  width: 30%;                      /* don't grow, don't shrink, width */
  height: 50px;
  margin-bottom: 5px;
  /* background-color: #999; */
}